/************************************
     Extra Small screens (<768px)
************************************/
@media screen and (max-width: 767px) {
    html, body {
        display: flex;
        flex-wrap: wrap;
        min-height: 100%;
        width: 100%;
        height: auto;
        color: #9d9d9d;
    }
    html {
        position: relative;
    }
    .container-fluid {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
    }
    .footer {
        display: flex;
        flex-wrap: wrap;
    }
    footer {
        width: 100%;
    }
    .form {
        min-height: calc(100vh - 82px);
    }

}

/************************************
       Small screens (>768px)
************************************/
@media screen and (min-width: 768px) {
    body,html, container-fluid {
        min-height: 100vh;
    }
    .container-fluid {
        display: flex;
        flex-wrap: wrap;
    }
    .form {
        min-height: calc(100vh - 82px);
    }
    .form h1{
        width: 100%;
        left: 0;
        position: absolute;
        top: 3%;
        text-align: center;
        color: white;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .form-horizontal {
        position: absolute;
        left: 0;
        top: 13%;
        margin-top: 30px;
        width: 100%;
    }
    .form-group {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .form-group label {
        color: white;
        font-size: 20px;
        padding: 0;
        text-align: left !important;
    }
    button {
        width: 20%;
        font-weight: bold !important;
        font-size: 18px !important;

    }

    .footer {
        display: flex;
        flex-wrap: wrap;
    }
    footer {
        width: 100%;
    }

}
/********************************
Medium devices (≥1050px)
********************************/
@media screen and (min-width: 1050px){
    .form {
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;
    }
}