@media screen and (max-width: 767px) {
    html, body {
        width: 100%;
        height: auto;
        color: #9d9d9d;
    }

    .container-fluid {
            display: flex;
            flex-wrap: wrap;
    }
}