@media screen and (max-width: 767px) {
    html, body {
        display: flex;
        flex-wrap: wrap;
        min-height: 100%;
        width: 100%;
        height: auto;
        color: #9d9d9d;
    }
    html {
        position: relative;
    }
    .container-fluid {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
    }
    .footer {
        display: flex;
        flex-wrap: wrap;
    }
    footer {
        width: 100%;
    }
    .form {
        min-height: calc(100vh - 82px);
    }

}