@media screen and (max-width: 767px){
    html, body {
        width: 100%;
        height: auto;
        color: #9d9d9d;
    }

    .container-fluid {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 768px){
    html,body {
        height: auto;
        min-height: 100vh;
    }

    .container-fluid {
        height: auto;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
    }

    #faq-content{
        min-height: calc(100vh - 82px);
    }
    #faq-content > h3{
        color: white;
    }
    #faq-content > h4 {
        color: #9d9d9d;
    }
}
/********************************
Medium devices (≥1050px)
********************************/
@media screen and (min-width: 1050px){
    #faq-content {
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;
    }
}