/********************************
Small devices - Tablets (<768px)
********************************/
@media screen and (max-width: 767px){
    html,body {
    overflow: hidden;
    }

    .container-fluid{
        position: relative;
        display: block;
    }

    .container-fluid.navbar-toggled {
        height: calc(100% - 192.5px);
    }

    /******************
         Content
    ******************/

    /*---Filters-----*/
      .filters {
        width: 100%;
        height: 0;
        display: none;
        -webkit-transform: translate(-100%,0);
        transform: translate(-100%,0);
        transition: transform 0.3s ease;
    }

    .filters.open {
        height: 430px;
        width: 100%;
        padding: 0;
        background-color: #222;
        color: #9d9d9d;
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }

    label {
        display: block;
        margin-top: 10px;
        margin-left: 10px;
    }

    .checkbox {
        width: 60%;
        height: 100%;
    }

    .checkbox+.checkbox, .radio+.radio {
        margin-top: 0;
     }

    .checkbox input[type=checkbox] {
        margin-left: 10px;
    }

    .btn.btn-danger {
        top: 10px;
        right: 15px;
        position: absolute;
    }
    .latestsearch{
        display: none;
    }
    /*--- Search form ---*/
    .row.content {
        height: 200px;
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
        transition: transform 0.3s ease;
        top: 20%;
        position: relative;
        left: 0;
        margin: 0;
    }

    .row.content.open {

        -webkit-transform: translate(-100%,0);
        transform: translate(-100%,0);
        transition: transform 0.3s ease;
    }

    #tftextinput {
        margin-bottom: 2em;
    }

    .btn-group {
        width: 100%;
    }

    #search_button {
        width: 70%;
    }

    #filters_button {
        width: 30%;
    }

    .loading {
        bottom: 0;
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 26px;
        color: white;
    }

    .messages {
        bottom: 0;
        position: absolute;
    }

    .messages h1 {
        color: white;
        font-size: 26px;
    }

    /*---Footer---*/

    hr {
        position: absolute;
        top: calc(100% - 30px);
    }

    footer {
    left: 0px;
    width: 100%;
    text-align: center;
    color: #9d9d9d;
    bottom: 0;
    position: absolute;
    }
}

/********************************
Small devices - Tablets (≥768px)
********************************/
@media screen and (min-width: 768px){

    /******************
         Content
    ******************/

    /*---Filters-----*/

    .filters {
        min-height: 50%;

    }
    .btn-danger{
        display: none;
    }
    .checkbox {
        height: 100%;
    }
    label {
        width: 100%;
        color: white;
        font-size: 1.5em;
        margin-bottom: 10px !important;
    }

    /*--- Search form ---*/
    .row.content {
        margin: 0;
    }

    #tftextinput {
        margin-bottom: 2em;
    }

    .btn-group {
        width: 100%;
    }

    #search_button {
        width: 70%;
    }

    #filters_button {
        width: 30%;
    }

    .loading {
        bottom: 0;
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 26px;
        color: white;
    }

    .messages {
        bottom: 0;
        position: absolute;
    }

    .messages h1 {
        color: white;
        font-size: 26px;
    }

    /*---Latest Search ---*/
    .latestsearch{
        height: 50%;
    }
    .latestsearch > h6{
        color: white;
    }
    #latestsearchtag{
        color: white;
    }
    img {
        height: 70px;
        width: 80%;
    }
    /*---Footer---*/

    .footer {
    text-align: center;
    color: #9d9d9d;
    bottom: 0;
    position: absolute;
    }
}


