.messages h1{
    color: 	#FF4500;
    font-size: 20px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loadingpage h1 {
    font-size: 22px;
    position: relative;
    left: 45%;
}

#pagehits {
    font-size: 22px;
    color: gray;
    position: absolute;
    float: left;
    top: 92%;
}