body{
    background: url('/static/images/fusione.png') no-repeat center / cover;
}




.container-fluid.navbar-toggled {
    height: calc(100% - 192.5px);
}
.row.content {
    height: calc(100% - 82px);
    width: 100%;
    height: 350px;
    position: relative;
    left: 0;
    margin: 0;
}

.filters {
    width: 100%;
}
.search-form {
    top: 50%;
    position: absolute;
}

#tftextinput {
    margin-bottom: 2em;
}

.loading {
    bottom: 0;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 26px;
    color: white;
}

.messages {
    bottom: 0;
    position: absolute;
}

.messages h1 {
    color: white;
    font-size: 26px;
}

footer {
    left: 0px;
    width: 100%;
    text-align: center;
    color: white;
    bottom: 0;
}

/********************************
Small devices - Tablets (<768px)*
********************************/
@media screen and (max-width: 767px){
    .filters {
        height: 0;
        -webkit-transform: translate(-100%,0);
        transform: translate(-100%,0);
        transition: transform 0.3s ease;
    }
    .filters.open {
        height: calc(100% - 25px);
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }

    footer {
        position: fixed;
    }
}

/********************************
Small devices - Tablets (≥768px)*
********************************/
@media screen and (min-width: 768px){

    .sidenav {
        height: 100%;
    }

    .search-form{
        margin: 0;
    }

    .loading{
        margin: 0;
    }
    .messages{
        margin: 0;
    }
}

