/********************************
Small devices - Tablets (<768px)
********************************/
@media screen and (max-width: 767px){
    html {
        display: flex;
        flex-wrap: wrap;
    }

    html,body {
    height: auto;
    min-height: 100vh;
    }

    .container-fluid{
        position: relative;
    }

    .container-fluid.navbar-toggled {
        height: calc(100% - 192.5px);
    }

    /******************
         Content
    ******************/

    /*---Filters-----*/
    .filters {
        width: 100%;
        height: 0;
        min-height: 0;
        -webkit-transform: translate(-100%,0);
        transform: translate(-100%,0);
        transition: transform 0.3s ease;

    }

    .filters.open {
        min-height: calc(100vh - 82px);
        height: 430px;
        width: 100%;
        padding: 0;
        background-color: #222;
        color: #9d9d9d;
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }
    #filters-tag{
        display: none;
    }
    label {
        display: block;
        margin-top: 10px;
        margin-left: 10px;
    }

    .checkbox {
        width: 60%;
        height: 100%;
    }

    .checkbox+.checkbox, .radio+.radio {
        margin-top: 0;
     }

    .checkbox input[type=checkbox] {
        margin-left: 10px;
    }

    .btn.btn-danger {
        top: 10px;
        right: 15px;
        position: absolute;
    }
    .latestsearch{
        display: none;
    }
    /*--- Search form ---*/
    .row.content {
        position: relative;
        height: auto;
        min-height: calc(100vh - 82px);
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
        transition: transform 0.3s ease;

        left: 0;
        margin: 0;
    }

    .row.content.open {

        -webkit-transform: translate(-100%,0);
        transform: translate(-100%,0);
        transition: transform 0.3s ease;
        display: none;
    }
    #howtouse {
        display: none;
    }
    .search-form {
        position: absolute;
        top: 25%;
        width: 100%;
        right: 0;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    #tftextinput {
        margin-bottom: 2em;
    }

    .btn-group {
        width: 100%;
    }

    #search_button {
        width: 70%;
    }

    #filters_button {
        width: 30%;
    }

    .loading {
        top: 50%;
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 26px;
        color: white;
    }

    .messages {
        left: 0;
        right: 0;
        top: 50%;
        position: absolute;
    }

    .messages h1 {
        color: white;
        font-size: 26px;
    }

    /*---Footer---*/

    hr {
        position: absolute;
        top: calc(100% - 30px);
    }
    .footer {
        display: flex;
        flex-wrap: wrap;
    }
    footer {

        width: 100%;
        text-align: center;
        color: #9d9d9d;

    }
}
@media screen and (max-width: 767px) and (max-height: 500px){
    .messages {
        bottom: 0;
        top: auto;
        text-align: center;
    }
    .loading {
        bottom: 0;
        top: auto;
        text-align: center;
    }
}
/********************************
Small devices - Tablets (≥768px)
********************************/
@media screen and (min-width: 768px){
    html,body {
        height: auto;
    }

    /******************
         Content
    ******************/
    .container-fluid {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    /*---Navbar------*/
    nav {
        height: 52px;
    }

    /*---Filters-----*/

    .filters {
        height: 300px;
        order:2;
    }
    #filters-tag{
        color: white;
    }
    .btn-danger{
        display: none;
    }
    .checkbox {
        height: 100%;
    }
    label {
        width: 32%;
        opacity: 1;
        background: #333;
        border-radius: 20px;
        border-color: #9d9d9d;
        border-style: solid;
        border-width: 2px;
        padding-left: 0;
        color: white;
        font-size: 1.4em;
        margin-bottom: 10px !important;
    }
    label.checked{
        opacity: 0.35;
    }
    .checkbox input[type=checkbox]{
        margin-left: 10px;
        position: inherit;
        visibility: hidden;
        height: 0;
        width: 0;
    }

    /*--- Search form ---*/
    .row.content {
        margin: 0;
        height: 432px;
        background-image: url('../images/fusione-768px.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    #howtouse > h4{
        color: white;
    }

    #tftextinput {
        margin-bottom: 2em;
    }

    .btn-group {
        width: 100%;
    }

    #search_button {
        width: 100%;
    }

    #filters_button {
        display: none;
    }

    .loading {
        bottom: 0;
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 26px;
        color: white;
    }

    .messages {
        bottom: 0;
        position: absolute;
    }

    .messages h1 {
        color: white;
        font-size: 26px;
    }

    /*---Latest Search ---*/
    .latestsearch{
        order: 3;
        height: 300px;
    }
    .latestsearch > h4{
        color: white;
        text-align: center;
    }
    #latestsearchtag{
        color: white;
    }
    .latestsearch a{
        width: 19.5%;
        height: 6em;
        display: inline-block;
    }
    #battlefield1 {
        background: url('../images/battlefield1.jpg') no-repeat center / cover;
    }
    #rocketleague {
        background: url('../images/rocketleague.jpg') no-repeat center / cover;
    }
    #darksouls3 {
        background: url('../images/darksouls3.jpg') no-repeat center / cover;
    }
    #skyrimspecialedition {
        background: url('../images/skyrim.jpg') no-repeat center / cover;
    }
    #callofdutyinfinitewarfare {
        background: url('../images/call-of-duty.png') no-repeat center / cover;
    }
    #counterstrikeglobaloffensive {
        background: url('../images/csgo.jpg') no-repeat center / cover;
    }
    #thewitcher3wildhuntbloodandwine {
        background: url('../images/thewitcher3.jpg') no-repeat center / cover;
    }
    #dishonored2 {
        background: url('../images/dishonored2.jpg') no-repeat center / cover;
    }
    #civ6 {
        background: url('../images/civ6.jpg') no-repeat center / cover;
    }
    #gta5 {
        background: url('../images/grandtheftautov.jpg') no-repeat center / cover;
    }
    /*---Footer---*/

    .footer {
    order: 5;
    text-align: center;
    color: #9d9d9d;

    }
}


