html {
    height: 100%;
}

body{
    height: 100%;
}
.messages h1{
    color: 	#FF4500;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loadingpage{
    position: absolute;
    left: 50%;
    top: 44%;
    transform: translate(-50%, -50%);
}

#loadingpage h1 {
    font-size: 20px;
}
#hits {
    position: absolute;
    left: 0;
    bottom: 0;
}
#pagehits {
    font-size: 22px;
    color: gray;
}

.progress {
    position: absolute;
    width: 40em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#searchbar {
    position: absolute;
    top: 35%;
    width: 100%;
}
