.messages h1{
    color: 	#FF4500;
    font-size: 20px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    color = black;
}
#loadingpage{
    width: 6em;
    position: relative;
    margin: 0 auto;
}

#loadingpage h1 {
    font-size: 20px;
}
#pagehits {
    font-size: 22px;
    color: gray;
    position: absolute;
    float: left;
    top: 92%;
}

.progress {
    position: relative;
    margin: 0 auto;
    width: 40%;
}