html{
    height: auto;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

body {
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
span {
    color: white;
}

.gamedeals, .alldeals {
    overflow: hidden;
}
.titles, #titlehead {
    padding: 0;
}

.prices, #pricehead {
    padding: 0;
    text-align: end;
}

hr {
    position: absolute;
    bottom: 30px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer p {
    width: 100%;
    color: #9d9d9d;
}

/********************************
Small devices - Tablets (<768px)
********************************/
@media screen and (max-width: 767px){
    .container-fluid{
        margin: 0;
        width: 100%;
    }
    .alldeals {
        -webkit-transform: translate(-100%,0);
        transform: translate(-100%,0);
        transition: transform 0.3s ease;
    }

    .btn.btn-danger {
        float: right;
        top: 5px;
        right: 15px;
        position: relative;
    }
    .alldeals.open {
        min-height: calc(100% - 52px);
        height: auto;
        padding: 0;
        background-color: #222;
        color: #9d9d9d;
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }

    .row.content {
        font-size: 16px;
        text-decoration: none;
        margin: 10px 0 10px 0;
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
        transition: transform 0.3s ease;
    }
    .row.content.open {

        -webkit-transform: translate(-100%,0);
        transform: translate(-100%,0);

    }

    .singledeals {
        margin: 10px 0 10px 0;
    }

    .singledeals p{
        padding: 0;
        float: left;
        text-align: start;
        clear: both;
    }
}

